body {
  background-color: var(--color-1);
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  display: block;
}

h1,
p,
ul {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

.wrapper {
  box-sizing: border-box;
  width: 79.6875rem;

  background-image: url("../../images/desktop/bg-pattern-dots.svg"),
    url("../../images/desktop/image-host.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom 3.25rem right;
  background-color: var(--color-1);
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

/*
  TODO: Arrumar posicionamentos das coisas principais da tela que ainda ta errado, que ainda não 
  esta de acordo com o design.
*/
