:root {
  --color-0: #ffffff;
  --color-1: #121725;
  --color-2: #2c344b;
  --color-3: #54e6af;
  --color-4: #5a668a;
  --color-5: #c2cbe5;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}
