.button {
  display: inline-block;
  padding: 0.56rem 1.69rem;
  background: var(--color-3);
  border-radius: 1.75rem;
  box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
  width: 162px;
  color: var(--color-1);
  font: 400 0.875rem/2 "Chivo", sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: var(--color-6);
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.5);
}

@media (max-width: 375px) {
  .button {
    width: 326px;
  }
}
