.form input[type="email"] {
  font: 400 0.875rem/2 "Chivo", sans-serif;
  color: var(--color-0);
  background: var(--color-2);
  border: none;
  padding: 0.88rem 2rem;
  border-radius: 1.75rem;
  width: 427px;
  box-sizing: border-box;
}

.form input[type="email"]::placeholder {
  color: var(--color-0);
  opacity: 0.5;
}

@media (max-width: 500px) {
  .form input[type="email"] {
    padding: 0.56rem 2rem;
    width: 327px;
  }
}
